.warningButton {
  background-color: darkred;
}

.warningButton:hover {
  background-color: red;
}

.displayRaffleResult {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 5px 10px;

  padding: 12px 24px;

  width: auto;
  height: auto;
  overflow-y: auto;
}
